@import '/src/styles/variables.less';
@import '/src/styles/mixin.less';

.comp-wrapper {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: var(--page-padding-x) 0;
}

.logo {
  display: block;
  width: 42px;
  margin: 0 var(--page-padding-x);

  svg {
    color: #111;
  }
}

.logo-link {
  display: inline-block;
}

.nav-liist {
  display: block;
  margin: 0 5px;
}

.nav-button {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 var(--page-padding-x);
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;

  &:hover {
    border-bottom-color: var(--text-color);
  }

  svg {
    font-size: 20px;
  }
}

.nav-link {
}

.nav-link--active {
  .nav-button {
    border-bottom-color: var(--text-color);
  }
}

// DARK-MODE--COMP
.comp-wrapper--alwaysDarkMode,
:global(.@{THEME--DARK}) .comp-wrapper {
}
