@import '/src/styles/variables.less';
@import '/src/styles/mixin.less';

.comp-wrapper {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: var(--page-padding-x) 0;
}

.logo {
  display: block;
  width: 38px;
  margin: 0 var(--page-padding-x);

  svg {
    color: #111;
  }
}

.logo-link {
  display: inline-block;
}

.nav-list {
  display: flex;
  place-items: center;
  margin: 0 5px;
}

.user-menu {
  display: inline-block;
  //margin-right: 5px;
  margin: 0 var(--page-padding-x);
  margin-left: 20px !important;
}

.nav-link {
  line-height: 1;
  padding: 10px 0;
  margin: 0 var(--page-padding-x);
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;

  &:hover {
    border-bottom-color: var(--text-color);
  }
}

.nav-button {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);

  svg {
    font-size: 20px;
  }
}

.nav-link--active {
  border-bottom-color: var(--text-color);
}

// DARK-MODE--COMP
.comp-wrapper--alwaysDarkMode,
:global(.@{THEME--DARK}) .comp-wrapper {
}
