.cache
.idea
.vscode/*
/typings
CHANGELOG.md

/_cache
/cache

/.next
/.build
/_build
/build

/.dist
/_dist
/dist

/.deploy
/_deploy
/deploy

/_documents
/public
/static
/src/assets

/src/libs/react-icons-ext/**/*
