@import '/src/styles/variables.less';

// message
.ant-message-notice-content {
  @padding-x: 30px;

  padding-left: @padding-x;
  padding-right: @padding-x;
}

//// button
//.ant-btn-lg {
//  border-radius: @border-radius-sm;
//}
//
//// input
//.ant-form .ant-input-lg,
//.ant-form .ant-input-affix-wrapper,
//.ant-input-lg {
//  border-radius: @border-radius-sm;
//}
