@import '/src/styles/variables.less';
@import '/src/styles/mixin.less';

.comp-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: transparent;
}

.about-box {
  font-size: 18px;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;

  svg {
    font-size: 10rem;
  }
}

.build-version {
  padding-bottom: 50px;
  font-size: 12px;
  font-family: var(--code-family);
  opacity: 0.3;
}

// DARK-MODE--COMP
.comp-wrapper--alwaysDarkMode,
:global(.@{THEME--DARK}) .comp-wrapper {
}
