@import '/src/styles/variables.less';
@import '/src/styles/mixin.less';

.comp-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
}

.about-box {
  font-size: 18px;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  padding-bottom: 50px;

  svg {
    font-size: 10rem;
  }
}

// DARK-MODE--COMP
.comp-wrapper--alwaysDarkMode,
:global(.@{THEME--DARK}) .comp-wrapper {
}
