@import '/src/styles/variables.less';
@import '/src/styles/mixin.less';

.comp-wrapper {
  height: 100%;
  //display: flex;
  //flex-direction: column;

  width: 100%;

  @media (min-width: @screen-sm) {
    //width: 800px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.layout-header {
  position: relative;
  //padding-top: 50px;
}

.layout-container {
  position: relative;
}

.layout-footer {
  position: relative;
  //padding-bottom: 20px;
}

// DARK-MODE--COMP
.comp-wrapper--alwaysDarkMode,
:global(.@{THEME--DARK}) .comp-wrapper {
}
