@import '/src/styles/variables.less';
@import '/src/styles/mixin.less';

.comp-wrapper {
  display: flex;
  padding-bottom: 30px;
  margin: 0 var(--page-padding-x);
  margin-top: 100px;
  //width: 100%;
}

.copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  place-items: center;
  //display: inline-block;
}

.logo-link {
  display: inline-block;
  line-height: 1;
  //display: block;
}

.logo {
  display: inline-block;
  width: 16px;
  line-height: 1;

  svg {
    color: #555;
  }
}

.copyright-text {
  @color: #999;

  //display: block;
  font-size: 12px;
  line-height: 1;
  color: @color;

  strong {
    font-weight: 400;
  }

  span {
  }

  a {
    display: inline-block;
    padding: 0;
    color: @color;

    &:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}

// DARK-MODE--COMP
.comp-wrapper--alwaysDarkMode,
:global(.@{THEME--DARK}) .comp-wrapper {
}
